#IDE
.idea/*
#data directories built by the workflow
logs
run
#snakemake temporary files
.snakemake
#images/results built by workflows
*.svg
*.pdf
*.csv
#directories built by demos
demos/HIV_accuracy_test/run
demos/16SrRNA_accuracy_test/run
demos/16SrRNA_resource_test/run
