#data directories built by the workflow
A
T
scripts/R
HMM
EPA
EPANG
PPLACER
RAPPAS
AR
logs
run
#snakemake temporary files
.snakemake
#RAPPAS temporary files (used until RAPPAS becomes a conda package)
viroplacetests_LITE.jar
RAPPAS.jar
#images/data
*.svg
*.pdf
*.csv
