#data directories built by the workflow
A
T
HMM
EPA
EPANG
PPLACER
RAPPAS
AR
logs
run
run_eval_ressources
run_eval_accuracy
#snakemake temporary files
.snakemake
#RAPPAS temporary files (used until RAPPAS becomes a conda package)
viroplacetests_LITE.jar
PEWO.jar
RAPPAS.jar
#images/data
*.svg
*.pdf
*.csv
